<link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
/>
<nav
    class="navbar navbar-light bg-dark justify-content-center navbar-fixed text-white"
>
    <a class="navbar-brand" id="brand" style="font-weight: 800; font-size: 2rem"
        >LuckyDraw Event</a
    >
</nav>

<div class="container d-flex justify-content-center" style="margin-top: 20vh">
    <div class="row ml-4">
        <div class="col-md-12">
            <a
                class="btn btn-outline-dark"
                href="/<%=user._id%>/getrandomticket"
                role="button"
                style="text-transform: none"
            >
                <img
                    width="200px"
                    style="margin-bottom: 3px; margin-right: 5px"
                    alt="Google sign-in"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
                />
            </a>
        </div>
    </div>
</div>
